:root {
    --blue: #4285F4;
    --yellow: #FBBC07;
    --green: #34A852;
    --red: #EA4335;
}
.contact {
    max-width: 1600px;
    padding: 45px;
    margin: 0 auto;
}
@media (max-width: 500px) {
    .contact {
        padding: 45px 0px;
    }
}
.contact h1 {
    margin-bottom: 20px;
}
.contact .text-area {
    text-indent: 10px;
    background: #fff;
    padding: 5px 15px;
    border-radius: 10px;
}
@media (max-width: 500px) {
    .contact .btn-area {
        display: flex;
    }
    .contact .btn-area button {
        margin: 0 auto 40px auto;
    }
}

.contact .form-area {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
}
.contact .info-area {
    height: 100%;
    padding-left: 15px;
    border-left: 1px solid #5555;
}
@media (max-width: 500px) {
    .contact .info-area {
        border-left: 0px;
    }
}
.contact .info-area .title p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.contact .info-area .info-tel p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
}
.contact .info-area .info-tel ul li {
    padding-left: 15px;
}
.contact .info-area .info-tel ul li a {
    font-size: 16px;
    color: #000;
}
.contact .info-area .info-tel ul li a:hover {
    font-weight: bold;
}
